[flake8]
max-line-length = 88
extend-ignore = E203, E266, E501, W503, D
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    */migrations/*,
    *.pyc,
    build,
    dist
max-complexity = 40
per-file-ignores =
    __init__.py:F401
    core/settings.py:E402
    */tests.py:F401
